.slider {
    height: 180px;
    margin-top: 6.4375rem;
}

.rec.rec-carousel-wrapper:focus,
.rec.rec-carousel-wrapper .rec-carousel:focus,
.rec.rec-carousel-wrapper .rec-slider-container:focus,
.rec.rec-carousel-wrapper .rec-slider-container .rec-slider:focus,
.rec.rec-carousel-wrapper .rec-slider-container .rec-slider div:focus {
    outline: none;
}

.rec.rec-carousel-wrapper .rec-carousel button {
    background: transparent;
    color: #000000;
    font-size: 1vw;
    box-shadow: none;
}

.rec-arrow {
    background: rgba(0, 0, 0, 0.1);
}

.iconname {
    padding: 10px 0;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 26px;
    /* or 162% */

    text-align: center;

    color: #333333;
}

#iconset {
    cursor: pointer;
}

.iconset {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.iconsetactive {
    margin-top: 130px;
}

.iconsetinactive {
    margin-top: 0;
}
